* {
    border:        none;
    border-radius: 0;
    font-family:   "Ubuntu";
    font-size:     13px;
    box-shadow:    none;
    transition-duration: 0s;
}

window#waybar {
    background: #353c4a;
    color: #eceff4;
}

#workspaces {
    margin-right: 10px;
    border-bottom-right-radius: 10px;
}

#workspaces button {
    border-top:     2px solid rgba(0, 0, 0, 0);
    border-bottom:  2px solid rgba(0, 0, 0, 0);
    padding: 0 5px;
    color: #d8dee9;
}

#workspaces button.visible {
    color: #8fbcbb;
}

#workspaces button:hover {
    color: #d8dee9;
    background: rgba(0x88, 0xc0, 0xd0, 0.7);
}

#workspaces button.active {
    border-top-color: #8fbcbb;
}

#workspaces, #privacy, #clock, #tray, #language, #custom-upower, #bluetooth,
#pulseaudio, #idle_inhibitor, #network, #custom-cpu, #custom-notification {
    padding: 0px 15px 0px 15px;
    margin: 4px 3px 4px 3px;
    min-width: 15px;
    background: #2e3440;
    border-radius: 18px;
}

#mpris, #window {
    color: #d8dee9;
    padding: 0px 15px 0px 15px;
}

#custom-cpu {
    min-width: 50px;
}

#pulseaudio {
    min-width: 65px;
}

#pulseaudio.source-muted {
    color: #c21b2c
}

#custom-upower.low {
    color: #c21b2c;
}

#custom-cpu.critical {
    color: #c21b2c;
}

#custom-cpu.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-recorder {
    font-size: 18px;
    margin: 2px 7px 0px 7px;
    color: #c21b2c;
}

